# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.css text
*.scss text
*.md text
*.yml text
*.yaml text
*.toml text
*.sql text
*.sh text
*.ps1 text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp3 binary
*.woff2 binary

# Lock file
pnpm-lock.yaml -diff
