do_token              = "dop_v1_..."
environment           = "development"
region                = "nyc3"
droplet_size          = "s-2vcpu-2gb"
domain                = "mainecybertech.us"
ci_public_key         = "ssh-ed25519 AAAAC3..."
